@import url(https://db.onlinewebfonts.com/c/ae54ba780341eb52a73bf1c481b8b951?family=Poppins);

#header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 24px 0;
    background: rgba(103, 176, 209, 0.8);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    background: rgba(55, 142, 181, 0.9);
    padding: 12px;
  }
  
  #header .logo h1 {
    font-size: 24px;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #header.header-scrolled {
      padding: 15px 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
    position: static;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 13px;
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    background: rgba(255, 255, 255, 0.2);
    color: #87ab69;
  }

  .navbar .dropdown a {
    text-decoration: none; /* Removes the underline */
  }  

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 10px;
    top: 20px;
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #4b6043;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #87ab69;
  }


  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  /*
  Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(43, 111, 142, 0.9);
    transition: 0.3s;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #2f4d5a;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #67b0d1;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #67b0d1;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }


.profile-icon{
  height: 35px;
  width: 35px;
  padding: 5px;
}

@font-face {
    font-family: "Poppins";
    src: url("https://db.onlinewebfonts.com/t/ae54ba780341eb52a73bf1c481b8b951.eot");
    src: url("https://db.onlinewebfonts.com/t/ae54ba780341eb52a73bf1c481b8b951.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ae54ba780341eb52a73bf1c481b8b951.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ae54ba780341eb52a73bf1c481b8b951.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ae54ba780341eb52a73bf1c481b8b951.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ae54ba780341eb52a73bf1c481b8b951.svg#Poppins")format("svg");
}


.bx-chevron-down:before {
    content: "\ea4a";
}

@media screen and (min-width: 1001px) {
  #main-title{
    position: relative;
    margin-bottom: 350px;
    color: #fff;
    font-size: 7em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px #00000072;
  }
  #title-icon{
    width: 100px;
    height: 100px;
    position: sticky;

  }
} 

@media screen and (max-width: 1000px) {
    #main-title{
    position: relative;
    margin-bottom: 350px;
    color: #fff;
    font-size: 7em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px #00000072;
  }
  #title-icon{
    width: 100px;
    height: 100px;
    position: sticky;

  }
}

@media screen and (max-width: 771px) {
  #main-title{
    position: relative;
    margin-bottom: 350px;
    color: #fff;
    font-size: 6em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px #00000072;
  }
  #title-icon{
    width: 80px;
    height: 80px;
    position: sticky;

}
}

@media screen and (max-width: 641px) {
  #main-title{
    position: relative;
    margin-bottom: 350px;
    color: #fff;
    font-size: 5em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px #00000072;
  }
  #title-icon{
    width: 65px;
    height: 65px;
    position: sticky;

  }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 1500px;
}

/* #title-icon{
    width: 100px;
    height: 100px;
    position: sticky;

} */

.circle-btn {
    
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    line-height: 50px; 
    color: #fff; 
    position: absolute; 
    font-size: 30px;
    justify-content: center;
    border: 3px solid #fff;
    text-shadow: 3px 3px #e4e4e441;
    box-shadow: 2px 2px #e4e4e456;
    bottom: 5%; /* Position at the bottom of the section */
    left: 50%; /* Horizontally center the button */
    transform: translateX(-50%);
    z-index: 2;
}

.bx.bx-chevrons-down {
    vertical-align: center;
}

.btn-get-started .circle-btn:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* #main-title{
    position: relative;
    margin-bottom: 350px;
    color: #fff;
    font-size: 7em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px #00000072;
} */

#img{
    z-index: 2;
}

.navbar-toggler{
    border: 0px;
}

/* footer */

/* Style for the separation line */
#footer-separation {
  background-color: #8ebe6d; /* Remove white space above and below */
  border: none; /* Remove the default line */
  height: 1px; /* Increase line thickness */
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the line horizontally */
}

#footer {
  position: static;
  bottom: 0px;
  width: 100%;
  min-width: 300px;
  background-color: #101207;
}


footer .footer-title{
  color: #9bb691;
}

footer ul li{
  font-size: small;
}

footer .footer-links{
  color: #fff;
  /* text-decoration: underline; */
  font-family: sans-serif;
  font-weight: 500;
}

footer .footer-news{
  font-size: small;
  color: #75975e;  
}


footer .footer-main-title{
  position: relative;
  color: #adc9a1;
}

footer .footer-logo{
  width: 50px;
  height: auto;
  position: relative;
}

.footer-copyrights {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #192310;
  font-size: 15px;
}


.copyrights-text{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

/* search-bar */

/* input::placeholder{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}


.search-tab ul li{
  display: inline-block;
  position: relative;
  padding-top: 5px;
}

.search-tab{
  margin-bottom: -10px;
  position: sticky;
  display: inline-flex;
  width: 40%;
  background-color: #e6f1dcf0;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  border: #00000000;
  border-radius: 30px;
  z-index: 2;
}

.search-block{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  z-index: 1;
}

.search-tab ul li.is-active{
  background-color: white;
  border-radius: 30px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.search-container{
  position: sticky;
  padding: 0;
  padding-top: 0;
}

#search { */
  /* margin-top: -1rem; */
  /* padding-bottom: 1rem; */
  /* background: linear-gradient(to bottom, #10110e, #4d5d36); */
  /* height: auto;
  z-index: 1;
  background-blend-mode: color;
}



@media screen and (max-width: 991px) {
  .search-tab {
    font-size: 14px;
  }

  .search-block {
    font-size: 14px;
  }

  .search-tab ul li.is-active {
    color: blue;
    background-color: #00000000;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .search-tab {
    font-size: 10px;
  }

  .search-block {
    font-size: 10px;
  }

  .search-tab ul li.is-active {
    color: blue;
    background-color: #00000000;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
} */

/* About Us */

#about {
  display: flex;
  /* position: static; */
  height: auto; /* Set the height to 100% of the viewport height */
  margin-top: 0; /* Remove the top margin if any */
  padding: 0; /* Remove any padding */
}

.aboutus{
  background-color: #101207;
}


.about_text {
  display: flex; 
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white;
}

.about-para{
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(160, 158, 158);
}

/* .about_carousel {
  display: flex;

  align-items: center;
} */

/* 
#carouselExampleSlidesOnly .carousel-item{
  position: relative;
  align-items: center;
  justify-content: center;
} */


/* #carouselExampleSlidesOnly .carousel-caption{
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#carouselExampleSlidesOnly .caption-label{
  font-size: 15px;
} */
/* 
.cards{
  position: relative;
  width: 100%;
  height: 100%;
}

.card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
} */

/* search */

.navbar .search-icon {
  position: relative;
}

.navbar .search-icon button {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding-left: 1.5rem;
}

.navbar .search-bar {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff; /* Background color for the search bar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for the search bar */
  padding: 10px; /* Adjust padding as needed */
}

.navbar .search-bar .search-input {
  width: 150px;
  padding: 8px;
  border: none; /* Remove the border */
  background: transparent; /* Background color for the input field */
  font-size: 16px;
  color: #000; /* Text color */
}

.navbar .search-bar button#search-close {
  background: transparent;
  border: none;
  outline: none;
  color: #000; /* Color for the close button */
}


/* about card */

.slider-container {
  width: 100%; /* Adjust the container width as needed */
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 1s ease; /* Adjust the transition duration as needed */
}

.slide {
  width: 600px; /* Adjust the slide width as needed */
  flex: 0 0 auto;
}

/* Add additional styles for the images (width, height, etc.) */
.slide img {
  width: 100%;
  height: auto;
}