@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"); 
/* bootstrap, icons & fonts  */
@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"); 

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900"); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  body {
    
    font-family:system-ui;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  h2{
    font-size: 25px;
    margin-left: 3.5rem;
    /* padding: 1.5rem; */
    
  }

  h3
  {
     margin-left:3.5rem;
     /* padding:1.5rem; */
     font-size: 15px;
  }

  h4
  {
    margin-left:3.5rem;
    font-size: 15px;
    font-weight:500;
  }

  button
  {
    width:200px;
    border:0;
    padding:12px 10px;
    outline:none;
    color:#fff;
    background-color:#628a5c ;
    border-radius:6px;
    cursor:pointer;
    margin-left:3.5rem;
    margin-top:1.5rem;
  }
  
  #typewriter {
    color: #628a5c;
  }
  
  #cursor {
    color: #21321F;
    font-weight: bold;
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  /* for the footer */


  :root {
    --primary: #628a5c;
    --text-color: white;
    --white: white;
    --text-gray: #FEFEFE;
    --text-heading-gray: white;
    --background: #EDF0F9;
    --border: #fff;
}

*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
footer {
  /* bottom: 0px; */
  background-color: var(
      --primary);
  width: 100%;
  min-width: 300px;
  bottom: 0px;
  display: flex; 
  /* align-items: center; */
  /* flex-direction: column;  */
  position:absolute;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1650px;
  width: 100%;
  padding: 5px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 4;
  gap: 48px 16px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 8px 36px 8px;
}

.footer-columns section, 
.footer-columns .footer-logo {
  display: flex;
  flex-direction: column;
  flex: 1 0 160px;
  max-width: 160px;
}

.footer-columns ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover{
  text-decoration: underline;
}

.footer-columns h3 {
  color: var(--text-heading-gray);
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1rem;

}

.footer-logo {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  max-width: 160px;
  margin-bottom: 48px;
}
.footer-bottom {
  margin-top: 48px;
  display: flex;
  align-items: end;
  width: 100%;
  gap: 16px;
  padding: 16px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-color);
  border-top: 1px solid var(
      --border);
}

.footer-bottom > small {
  font-size: 16px;
  margin: 0 4px;
}

@media (min-width: 926px) {
  .footer-logo {
      margin-right: auto;
  }
}

@media (max-width: 800px) {
  .footer-top 
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 16px 8px 32px 8px;
  }
}

  .footer-bottom 
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
  }

  #header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 24px 0;
    background: rgba(103, 176, 209, 0.8);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    background: rgba(55, 142, 181, 0.9);
    padding: 12px;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
  }
  
  @media (max-width: 768px) {
    #header.header-scrolled {
      padding: 15px 0;
    }
  }
  
 /* tabs */
  #tab-container 
  {
    /* margin-top: 20px;
    margin-bottom: 10px; */
    padding:1.5rem;
  }

  .tab-content 
  {
    display: none;
    padding: 20px 0 0;
  }

  input 
  {
    display: none;
    &:checked 
    {
      &+label 
      {
        color: #bd235d;
      }
    }
  }
  label {
    display: inline-block;
    padding: 0 25px;
    font-weight: 600;
    &:not(:first-of-type) {
      border-left: 2px solid #628a5c;
      @media screen and (max-width: 480px) {
        border-left: none;
      }
    }
    @media screen and (max-width: 480px) {
      display: block;
    }
    &:hover {
      color: #bd235d;
      cursor: pointer;
      
    }
  }
  #tab1 {
    &:checked {
      &~#content1 {
        display: block;
      }
    }
  }
  #tab2 {
    &:checked {
      &~#content2 {
        display: block;
      }
    }
  }
  #tab3 {
    &:checked {
      &~#content3 {
        display: block;
      }
    }
  }
  #tab4 {
    &:checked {
      &~#content4 {
        display: block;
      }
    }
  }
  #tab5 {
    &:checked {
      &~#content5 {
        display: block;
      }
    }
  }
  #tab6 {
    &:checked {
      &~#content6 {
        display: block;
      }
    }
  }

  .gallery
  {
    display: flex;
    gap:1.5cm;
    padding-top: 1rem;
    
    
  }
  .card
  {
    position:relative;
    left:1.5rem;
    width:190px;
    height:140px;
    /* background-color:#3c343d; */
    border-radius:8px;
    transition:1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid #3c343d;
    overflow:hidden;
  }
  .card img {
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card:hover figcaption {
    font-size: 0.6rem;
    position: absolute;
    height: 180px;
    width: 190px;
    display: flex;
    align-items: end;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    color: white;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

.navbar {
  padding: 0;
  position: static;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 13px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

h1 span {
  color:black; 
}
.navbar a:hover,
.navbar.active,
.navbar.active:focus,
.navbar li:hover>a {
  background: #BDBDBD;
}

 
@import url("https://github.com/christaniajess/EcoScape/blob/362273a0fed78c5e8650c9e19025bc96bdc8fa55/src/att/style.css");
@import url("https://github.com/christaniajess/EcoScape/blob/b1858dc5e5b1e6289c5bc3971d9eda690fa85d81/src/att/typewriter_style.css");

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 50%;
    width: 50%;
    float: right;
    margin-right: 15px;
  }

#attraction-img {
    padding-left: 5.5rem;
    height: 250px;
    width: 500px;
}

#ig-logo {
    height: 30px;
    width: auto;
}
