.nav-item {
    font-size: small;
    background-color: white;
    justify-content: center;
    height: 50px;
    width: auto;
    margin: 10px;
}

#logo-img {
    height: 50px;
    width: auto;
}

#logo {
    padding: 10px;
}

#back-btn, #open-web-link {
    font-size: small;
    color: white;
    background-color: black;
    justify-content: center;
    width: auto;
    margin: 10px;
}
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 50%;
    width: 50%;
    float: right;
    margin-right: 15px;
  }

#attraction-img {
    padding-left: 10px;
}

#ig-logo {
    height: 30px;
    width: auto;
}