@import url("https://github.com/christaniajess/EcoScape/blob/362273a0fed78c5e8650c9e19025bc96bdc8fa55/src/att/style.css");
@import url("https://github.com/christaniajess/EcoScape/blob/b1858dc5e5b1e6289c5bc3971d9eda690fa85d81/src/att/typewriter_style.css");

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 50%;
    width: 50%;
    float: right;
    margin-right: 15px;
  }

#attraction-img {
    padding-left: 10px;
}

#ig-logo {
    height: 30px;
    width: auto;
}